* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

header .header-top {
  min-height: 90px;
  background-color: #101010;
}
header .header-top .first-half {
  height: 50%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header .header-top .first-half select {
  height: 18px;
  align-self: center;
}
header .header-top .first-half li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  line-height: 45px;
}
header .header-top .first-half li a {
  color: grey;
  text-decoration: none;
}
header .header-top .first-half li a:hover {
  color: white;
  text-decoration: underline;
}
header .header-top .first-half li a i {
  color: #009CFF;
  padding-right: 5px;
  font-size: 15px;
  vertical-align: middle;
}
header .header-top .second-half {
  height: 50%;
}
header .header-top .second-half ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header .header-top .second-half ul h1 {
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
header .header-top .second-half ul li {
  width: calc(100% / 9);
  height: 100%;
  line-height: 45px;
  color: white;
  text-align: center;
}
header .header-top .second-half ul li:hover {
  background-color: white;
  cursor: pointer;
}
header .header-top .second-half ul li:hover a {
  color: black;
}
header .header-top .second-half ul li a {
  color: white;
  text-decoration: none;
  height: 100%;
  vertical-align: middle;
}
header .header-top .second-half ul li a i {
  vertical-align: middle;
  color: grey;
  font-size: 12px;
}
header .center-header {
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  min-height: 460px;
  background-position: center;
}
header nav {
  min-height: 60px;
  background-color: #E6E6E6;
}

main .video-container {
  min-height: 620px;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  text-align: center;
}
main .video-container h1 {
  padding-top: 100px;
}
main .video-container p {
  margin: 20px 0;
}
main .video-container img {
  margin-top: 50px;
  width: 100%;
}
main .photo-painting {
  min-height: 1000px;
  border-color: white;
  text-align: center;
}
main .photo-painting h1 {
  padding-top: 100px;
}
main .photo-painting p {
  margin: 20px 0;
}
main .photo-painting img {
  margin-top: 50px;
  width: 100%;
}
main .empy-space {
  min-height: 650px;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
main .painting-tools {
  color: white;
  min-height: 2100px;
  background-color: #222222;
  text-align: center;
}
main .painting-tools h1 {
  padding-top: 100px;
}
main .painting-tools p {
  margin: 20px 0;
}
main .painting-tools img {
  margin-top: 50px;
  width: 100%;
}
main .second-empy-space {
  min-height: 650px;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-01.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
