header {
  .header-top {
    min-height: $minHeight;
    background-color: #101010;
    .first-half {
      height: $halfSize;
      display: flex;
      justify-content: flex-end;
      width: $allSize;
      select{
        height: 18px;
        align-self: center;
      }
      li {
        display: inline-block;
        @include itemAlign;
        padding: 0 10px;
        line-height: $minHeight / 2;
        a {
          color: grey;
          text-decoration: none;
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    };
    .second-half{
      height: $halfSize;
      ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        h1 {
          color: white;
          display: inline-block;
          @include itemAlign;
          padding-right: 5px;
        }
        li {
          width: calc(100% / 9);
          height: $allSize;
          line-height: $minHeight / 2;
          color: white;
          text-align: center;
          &:hover {
            background-color: white;
            a {
              color: black;
            }
          }
          a {
            color: white;
            text-decoration: none;
            height: $allSize;
            @include itemAlign;
          }
        }
      }
    }
  }
  .center-header {
    background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
    min-height: 460px;
    @include backGroundPosition;
  }
  nav {
    min-height: 60px;
    background-color: #E6E6E6;
  }
}
